@use "../../assets/global/vars.scss" as *;

.btt {
    padding: 11px;
    width: 100%;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

}

.accentB {
    background-color: $accent-b;
    color: $white;
}

.placeholder {
    background-color: $placeholder;
    color: $dark;
}