@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$font-main: "Nunito", sans-serif;

// Colors
$dark: #000000;
$accent-a: #ffab08;
$accent-b: #ff7020;
$background: #ffffff;
$white: #f9f9f9; 
$placeholder: #f2f2f3;  

// Media
$tablet: 959px;