@use "../../assets/global/vars.scss" as *;
@use "../../assets/global/mixin.scss" as *;

.basket {
    width: 300px;
    background-color: $background;
    padding: 20px;
    border-radius: 15px;

    transition: max-height 0.4s ease-in-out, padding 0.4s ease;
    overflow: hidden;

    @include respond(tablet) {
        width: 100%;
    }
}

.open {
    max-height: 1000px;
}

.closed {
    max-height: 80px;
}

.content {
    height: clamp(400px, 30vw, 600px);
    overflow-y: auto;
}

.delivery {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.together {
    margin-bottom: 24px;
}

.countProducts {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        cursor: pointer;
    }

    @include respond(tablet) {
        width: 100%;
    }
}

.counts {
    font-size: 24px;
    background-color: $placeholder;
    padding: 2px 20px;

    border-radius: 16px;
    align-items: center;
}